.kamp-baslik-div {
    width: 100%;
    display: block;
    float: left;
    height: auto;
    background-color: #ffffff;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.kamp-baslik-div .tarih {
    display: block;
    width: 100%;
    float: left;
    color: #999999;
    font-weight: 200;
}

.btn-katil {
    background-color: #38c172;
    color: white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


h1.kamp-baslik{
    
    color: black;
    font-weight: 900;
} 


.duzenleyen {
    display: inline-block;
    font-size: 16px;
    font-weight: 200;
    margin-left: 10px;
}


.isim {
    color: #d14157;
}

.profile {
    width: 50px;
    border-radius: 50%;
}



.image-name {
    display: block;
    width: 100%;
    float: left;
}



#btnn {
    display: block;
    float: right;
    
}

.gorsel-sol {
    
}

.details-alt {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 280px;
    background-color: #f6f7f8;
    height: auto;
    
}


.gorsel-sol {
    display: block;
    width: 55%;
    float: left;
    
    height: 300px;
}

.gorsel-sol img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 300px;
}

.tarih-detay-sag {
    width: 35%;
    display: block;
    float: right;
    background-color: #fff;
    border-radius: 5px;
    height: 300px;
    padding: 3%;
}

.tarih-detay-sag i {
    display: inline;
    font-size: 25px;
    color: #dd4c4f;
    padding: 10px;
    opacity: 0.8;
    
}

.tarih-detay-sag p {
    display: inline;
    font-size: 15px;
    color: #000;
    font-weight: 100;
    
}


.tarih-detay-first {
    display: block;
    width: 100%;
    margin: 10px;
}

a.detay-link {
    display:inherit;
    width: 100%;
    text-align: center;
    color: black;
    padding: auto;
    margin-top: 50px;
    text-decoration: underline;
    color: #1071bb;
    font-weight: 600;
}


.detaylar {
    width: 100%;
    display: block;
    height: 300px;
    background-color: #f6f7f8;
    margin-top: 60px;
    padding-right: 20%;
    
    
}


.detaylar-h1 {
    font-size: 24px;
    font-weight: 600;
    color: #212121;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    
}

.detaylar-p {
    color: #212121;
    width: 100%;
}


.katilimcilar {
    display: block;
    height: 600px;
    background-color: #f6f7f8;
    width: 50%;
}


.cards-1 {
    float: left;
    width: 25%;
    padding: 10px;
}

.card-1 {
    height: 150px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.card-1 img {
    width: 100%;
    border-radius: 50%;
    display: block;
    text-align: center;
}

.card-1 h4 {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}


.card-1 h5 {
    font-size: 13px;
    text-align: center;
    color: #999999;
    font-weight: 200;
}




































