


body {
    background-color: #f6f7f8;
}


.kamp-baslik-div {
    margin-top: 60px;
    width: 100%;
    display: block;
    float: left;
    height: auto;
    background-color: #ffffff;
    
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(95,111,129,0.2);
    
}

.kamp-baslik-div .tarih {
    display: block;
    width: 100%;
    float: left;
    color: #999999;
    font-weight: 200;
}

.btn-katil {
    
    color: white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


h1.kamp-baslik{
    
    color: black;
    font-weight: 900;
} 


.duzenleyen {
    display: inline-block;
    font-size: 16px;
    font-weight: 200;
    margin-left: 10px;
}


.isim {
    color: #d14157;
}

.profile {
    width: 50px;
    border-radius: 50%;
}



.image-name {
    display: block;
    width: 100%;
    float: left;
}

.kamp-paylas-div {
    margin-top: 15px;
}

.kampi-paylas {
    display: inline-block;
    text-decoration: underline;
    
}

#kampi-paylas-id {
    color: #0098ab;
    text-decoration: underline;
}
#btnn {
    display: inline-block;
    float: right;
    background-color: #38c172;
    color: white;
    
}

.gorsel-sol {
    
}

.details-alt {
    
    padding-top: 350px;
    background-color: #f6f7f8;
    height: auto;
    border-bottom: 1px solid #dcdcdc;
}


.gorsel-sol {
    display: block;
    width: 55%;
    float: left;
    
    height: 300px;
}

.gorsel-sol img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 300px;
}

.tarih-detay-sag {
    width: 35%;
    display: block;
    float: right;
    background-color: #fff;
    border-radius: 5px;
    height: 300px;
    padding: 3%;
}

.tarih-detay-sag i {
    display: inline;
    font-size: 15px;
    color: #1071bb;
    padding: 10px;
    
    
}

.tarih-detay-sag p {
    display: inline;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    
}


.tarih-detay-first {
    display: block;
    width: 100%;
    margin: 10px;
}

a.detay-link {
    display:inherit;
    width: 100%;
    text-align: center;
    color: black;
    padding: auto;
    margin-top: 30px;
    text-decoration: underline;
    color: #1071bb;
    font-weight: 600;
}


.detaylar {
    width: 100%;
    display: block;
    height: 300px;
    background-color: #f6f7f8;
    margin-top: 60px;
    padding-right: 20%;
    
    
}


.detaylar-h1 {
    font-size: 24px;
    font-weight: 600;
    color: #212121;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    
}

.detaylar-p {
    color: #212121;
    width: 100%;
}


.katilimcilar {
    display: block;
    height: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: #f6f7f8;
    width: 50%;
    
}


.cards-1 {
    float: left;
    width: 25%;
    padding: 15px;
}

.card-1 {
    height: 170px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card-1:hover {
    box-shadow:2px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.card-1 img {
    width: 100%;
    border-radius: 50%;
    display: block;
    text-align: center;
}

.card-1 h4 {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}


.card-1 h5 {
    font-size: 13px;
    text-align: center;
    color: #999999;
    font-weight: 200;
}


.other-kamp{
    height: 100px;
    background-color: #f6f7f8;
}

































