/*
1.renk : #E64A19
2.renk : #FFCCBC
3.renk : #FF5722
4.renk : #FFFFFF

1.renk : #9E9E9E
2.renk : #212121
3.renk : #757575
4.renk : #BDBDBD




#111e30
#dd4c4f
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

:root {
    /* COLORS */
    --main-header-primary-color: #101010;
    --main-header-secondary-color: #151515;
    --main-header-tertiary-color: #252525;
    --main-header-quaternary-color: #aaa;
    --main-header-shadow-color: rgba(0, 0, 0, 0.9);

    /* FONT */
    --main-header-font-family: Calibri, sans-serif;

    /* MAIN HEADER */
    --main-header-menu-width: 450px;
    --main-header-menu-button-height: 40px;
    --main-header-menu-button-width: 80px;

    /* TRASITION */
    --main-header-transition: all 0.35s ease;
}
















.header {
    width: 100%;
    height: 100vh;
    background: rgb(155,80,235);
background: linear-gradient(90deg, rgba(155,80,235,1) 0%, rgba(119,109,235,1) 51%, rgba(93,131,235,1) 100%);
    object-fit: cover;
    background-size: cover;
    
}


.navbar {
    background: black;
    position: inherit;
    transition: all 0.4s;
    background: rgb(155,80,235);
background: linear-gradient(90deg, rgba(155,80,235,1) 0%, rgba(119,109,235,1) 51%, rgba(93,131,235,1) 100%);
    object-fit: cover;
    background-size: cover;
    
}

.navbar .nav-link {
    color: #fff;
    
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}



#white-bg-nav {
    background-color: white;
    border-radius: 35px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 1px 10px 1px rgba(255,255,255,0.2);
    transition: .4s box-shadow;
    margin-left: 20px;
}


#white-bg-nav:hover {
    
    box-shadow: 1px 1px 10px 1px rgba(255,255,255,0.1);
}

#white-bg-nav a {
    font-family: 'Lato', sans-serif;
    color: #9643eb;
}

#ml-nav {
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
}

#logo-nav {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fff;
    opacity: 1;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -60px;
    
}

.entry {
    width: 50%;
    float: left;
    display: inline-block;
    height: 100vh;
    background-color: transparent;
}

.entry-right {
    float: left;
    width: 50%;
    display: inline-block;
    height: 100vh;
    background-color: transparent;
}

.icon-right {
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: 18%;
    padding-left: 0px;
    
}

.icon-right img {
    padding-left:25%;
    width: 80%;
    text-align: center;
    margin: auto;
}

.big-title-div {
    width: 100%;
    height: 200px;
    background-color: transparent;
    margin-top: 20%;
    padding-left: 100px;
}

.big-title-h1 {
    line-height: 1.0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: left;
    font-size: 50px;
    color: #fbff9c;
    opacity: 1;
    letter-spacing: 0.5px;
}

.big-title-h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 17px;
    color: #ffffff;
    opacity: 1;
    letter-spacing: 0.3px;
}

#info-p {
    width: 86%;
    letter-spacing: 1px;
    color: #f1f1f1;
    font-weight: 400;
    line-height: 1.7;
}

.entry .big-title-div button {
    font-family: 'Lato', sans-serif;
    width: 90px;
    margin-right: 5px;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: 600;
    transition: .4s background;
    border-radius: 6px;
}

.entry .big-title-div button:hover {
    width: 90px;
    margin-right: 5px;
    background-color: rgba(30, 50, 100, 0.8);
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

#png-title {
    margin-left: 0px;
    margin-top: 20px;
    display: block;
    width: 30%;
    opacity: 0.9;
}














.main-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background:black;
    height: 70px;
    font-family: var(--main-header-font-family);
    box-shadow: 0 0 10px var(--main-header-shadow-color);
    text-transform: uppercase;
    transition: var(--main-header-transition);
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
}

.main-header-logo {
    margin: 20px;
    min-width: 120px;
}

.main-header-menu {
    display: none;
    font-weight: 100;
    width: var(--main-header-menu-width);
    margin: 20px;
    padding-top: 15px;

}

.main-header-menu ul {
    display:flex;
    margin-left: 50%;
    justify-content:center;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

.main-header-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--main-header-quaternary-color);
    text-decoration-line: none;
    width: var(--main-header-menu-button-width);
    height: var(--main-header-menu-button-height);
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    transition: var(--main-header-transition);

}

.main-header-menu a:hover {
    background-color: transparent;
    box-shadow: 0px 4px 10px var(--main-header-shadow-color);
    text-decoration: none;
    color: #f3f5f7;
}

.main-header .container a.logo {
    color: #f8f8f8;
    font-size: 30px;
    font-weight: 100;
    opacity: 0.7;
}

/* SIDE MENU */

.side-menu {
    display: flex;
    width: 1000px;
    position: absolute;
    left: -1000px;
    z-index: 10;
    height: 1000px;
    transition: var(--main-header-transition);
}

.side-menu-content {
    height: 100%;
    width: 276px;
    background: #101010;
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 70px;
    background: var(--main-header-secondary-color);
    overflow: hidden;
    transition: var(--main-header-transition);
}

.side-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-header-secondary-color);
    color: var(--main-header-quaternary-color);
    border-bottom: 1px solid var(--main-header-tertiary-color);
    width: 100%;
    height: calc(var(--main-header-menu-button-height)*2);
    transition: var(--main-header-transition);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--main-header-font-family);
}

.side-menu a:hover {
    background: var(--main-header-tertiary-color);
    text-decoration: none;
    color: #f3f5f7;
}

.side-menu-close-div {
    height: 100%;
    width: 724px;
    background: rgba(0, 0, 0, 0);
    transition: var(--main-header-transition);
}

/* SIDE BUTTON */
.main-header-side-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--main-header-menu-button-height);
    min-width: Var(--main-header-menu-button-height);
    margin: 20px;
    background: var(--main-header-secondary-color);
    border: 1px solid var(--main-header-tertiary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-header-transition);
}

.main-header-side-menu-button:hover {
    background: var(--main-header-tertiary-color);
    box-shadow: 0px 4px 10px var(--main-header-shadow-color);
}

.main-header-side-menu-button .stripes {
    background: var(--main-header-quaternary-color);
    height: 2px;
    min-width: 25px;
    margin: 2px 0;
}

/* MEDIA QUERIES MAIN HEADER */
@media (min-width: 768px) {
    .main-header-menu {
        display: flex;
    }

    .side-menu {
        display: none;
    }

    .main-header-side-menu-button {
        display: none;
    }
}


.giris-slider {
    margin-top: 60px;
    height: 55vh;
}


.carousel-item img {
    height: 55vh;
    object-fit: cover;
}

.giris-kamplar {
    float: left;
    width: 25%;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 70px;
}



.en-popi-div{
    background-color: #f8f8f8;
    padding-left: 5%;
    padding-right: 5%;
}

.giris-kamp-card {
    height: 280px;
    background-color: #fff;
    
    
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.giris-kamp-card:hover {
    box-shadow: 4px 10px 8px 4px rgba(0, 0, 0, 0.2);
}

#resim{
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card-baslik {
    font-weight: 600;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.9;
    font-family: 'Libre Franklin', sans-serif;
}

.card-tarih{
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Libre Franklin', sans-serif;
    color: #d1410c;
}


.card-img img {
    width: 100%;
    object-fit: cover;
    height: 140px;
    padding-top: 0px;
    
    

}

.card-duzenleyen {
    font-weight: 300;
    text-align: left;
    padding-left: 10px;
    margin-top: 0px;
    font-size: 16px;
    opacity: 0.6;
    font-family: 'Libre Franklin', sans-serif;
}

.card-duzenleyen-span {
    font-weight: 300;
    text-align: left;
    font-size: 14px;
    opacity: 0.9;
    font-family: 'Libre Franklin', sans-serif;
}

.giris-kamp-card .icon{
    height: 30px;
    float: right;
    display: inline-block;
    margin: 10px;
    
}


#yildiz {
    font-size: 20px;
    padding: 10px;
}


#yildiz .yildiz-genel {
    font-size: 18px;
    margin-left: 5px;

}


#yildiz i {
    color: #f4c150;
}

/*----------------------- */

#yildiz2 {
    font-size: 20px;
    padding: 10px;
}


#yildiz2 .yildiz-genel {
    font-size: 18px;
    margin-left: 5px;

}


#yildiz2 i {
    color: #f4c150;
}

/*----------------------- */
#yildiz3 {
    font-size: 20px;
    padding: 10px;
}


#yildiz3 .yildiz-genel {
    font-size: 18px;
    margin-left: 5px;

}


#yildiz3 i {
    color: #f4c150;
}

/*----------------------- */
#yildiz4 {
    font-size: 20px;
    padding: 10px;
}


#yildiz4 .yildiz-genel {
    font-size: 18px;
    margin-left: 5px;

}


#yildiz4 i {
    color: #f4c150;
}

/*----------------------- */


.detay-btn {
    margin-left: 10px;

}

.detay-btn-text {
    font-size: 14px;
    color: white;
}


#portfoy {
    background-color: #101720;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}

.card-card {
    float: left;
    width: 50%;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #101720;
    object-fit: cover;
    padding-top: 0px;
    padding-bottom: 0px;
}




.port-items {
    height: 270px;
    background-color:#101720;
    border-radius: 5px;
    padding: 20px;
}


.port-items:hover {
    
}

.port-items h1 {
    margin: 10px;
    padding-left: 10px;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    width: 60%;
    display: inline;
    float: left;
    
}

.port-items p {
    margin-left:10px;
    padding-left: 10px;
    font-weight: 300;
    display: inline-block;
    float: left;
    width: 60%;
    font-size: 18px;
    color: #fff;
}

.port-items i {
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 70px;
    color: #45A0C3;
    display: inline-block;
  width: 20%;
    float: left;
    
}

.port-items button {
    display: inline-block;
    
    float: left;
    margin-left: -15px;
    text-decoration-line: underline;
    background-color: transparent;
    color: #45A0C3;
    font-size: 16px;
   

}


.alt-div {
    border: 1px solid #f9f9f9;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}


.alt-div:hover {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

#btn-katil {
    background-color: rgba(0,0,0,0.9);
    opacity: 0.9;
    color: white;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#hadi-basla-btn {
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.8);
    font-weight: 100;
}

#icccon{
    display: inline-block;
    float: right;
    margin: 6px;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    color: #000;
}

.card-boddy{
    padding-left: 10px;
}


.en-popi-h1 {
    display: block;
    width: 100%;
    float: left;
    background-color: #f8f8f8;
}

.popi-kamp {
    color: #263c56;

    font-size: 35px;
    font-weight: 200;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.en-popi-h1-2 {
    display: block;
    width: 100%;
    
    margin-top: 100px;
    padding-top: 20px;
}

.popi-kamp-2 {
    
    color: #fff;

    font-size: 30px;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.category {
    margin-bottom: 200px;
    margin-top: 100px;
}

.a11{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.category-card {
    float: left;
    width: 25%;
    padding: 15px;
}

.category-card-card-1 {

    background-image:
        linear-gradient(to left bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../img/cd1.jpeg);

}

.category-card-card-2 {

    background-image:
        linear-gradient(to left bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../img/cd2.jpeg);

}

.category-card-card-3 {

    background-image:
        linear-gradient(to left bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../img/cd3.jpeg);

}

.category-card-card-4 {

    background-image:
        linear-gradient(to left bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../img/cd4.jpeg);

}

.ctg-card {
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.ctg-card:hover {
    transform: scale(1.1);

}


.category-card h1 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 200px;
    font-family: sans-serif;
    opacity: 0.9;
}



.en-popi-h1-3 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 100px;
}

.popi-kamp-3 {
    
    color: #263c56;

    font-size: 30px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 40px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
}

/*  ---------- FOOTER ---------*/

footer {
    color: #fff;
    background-attachment: fixed;
    background-color: #222;
    background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
    background-size: cover;
    background-position: bottom;
}

footer p {
    color: #ccc;
}

footer a {
    color: #ccc;
}

.social-pet li {
    display: inline-block;
    margin-right: 10px;
}

.social-pet li a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 35px;
    background-color: #3a5a95;
    color: #fff;
}

.social-pet li:nth-child(2) a {
    background-color: #57aced;
}

.social-pet li:nth-child(3) a {
    background-color: #dd4f43;
}

.social-pet li:nth-child(4) a {
    background-color: #6b27b2;
}

.social-pet li a:hover {
    background-color: #0141a2;
}

.social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.recent-post li {
    display: block;
    color: #ccc;
    margin-bottom: 25px;
}

.recent-post li label {
    float: left;
    border: 2px solid #ccc;
    padding: 1px 7px;
    text-align: center;
}

.recent-post li label span {
    color: #fff;
}

footer .input-group-addon {
    background-color: #0141a2;
    padding: 10px;
}

.f-address li {
    display: inline-block;
}

.f-address li i {
    color: #2995de;
    font-size: 18px;
}

.f-address li a {
    color: #ccc;
}

/*=-Copyright-=*/
.copyright {
    background-color: #111;
    padding: 12px 0;
    font-size: 14px;
}

.span-renk{
    color: #111e30;
}


.slider-h5{
    font-weight: 100;
    font-size: 45px;
}


.slider-p{
    font-weight: 100;
    font-size: 22px;
}


#kelime-arayin{
    background-color: rgba(0,0,0,0.7);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    cursor:text;
}

#kelime-arayin:hover{
    transform: scale(1.1);
}

/*
.ctg-card {
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.ctg-card:hover {
    transform: scale(1.1);

}
*/



#kelime-arayin::-moz-placeholder {
  color: lightgray;
  
}
#kelime-arayin::-ms-input-placeholder {
  color: lightgray;
}
#kelime-arayin::-webkit-input-placeholder {
  color: lightgray;
}


.start-kamp{
    margin-top: 50px;
    height: 50vh;
    background-image:
        linear-gradient(to left bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../../img/ab3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.start-h1{
    font-size: 60px;
    text-align-last: center;
    font-weight: 200;
    letter-spacing: 5px;
    position: relative;
    top: 40%;
    color: white;
    opacity:0.9;
}

.start-form{
    position: relative;
    top: 45%;
}

.start-p{
    font-size: 20px;
    text-align-last: center;
    font-weight: 200;
    letter-spacing: 2px;
    position: relative;
    top: 42%;
    color: white;
    opacity: 0.8;
}




























