* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f5f8;
}

:root {
    /* COLORS */
    --main-header-primary-color: #101010;
    --main-header-secondary-color: #151515;
    --main-header-tertiary-color: #252525;
    --main-header-quaternary-color: #aaa;
    --main-header-shadow-color: rgba(0, 0, 0, 0.9);

    /* FONT */
    --main-header-font-family: Calibri, sans-serif;

    /* MAIN HEADER */
    --main-header-menu-width: 450px;
    --main-header-menu-button-height: 40px;
    --main-header-menu-button-width: 80px;

    /* TRASITION */
    --main-header-transition: all 0.35s ease;
}

/* MAIN HEADER */
.main-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--main-header-primary-color);
    height: 70px;
    font-family: var(--main-header-font-family);
    box-shadow: 0 0 10px var(--main-header-shadow-color);
    text-transform: uppercase;
    transition: var(--main-header-transition);
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
}

.main-header-logo {
    margin: 20px;
    min-width: 120px;
}

.main-header-menu {
    display: none;
    font-weight: 100;
    width: var(--main-header-menu-width);
    margin: 20px;
    padding-top: 15px;

}

.main-header-menu ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

.main-header-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--main-header-quaternary-color);
    text-decoration-line: none;
    width: var(--main-header-menu-button-width);
    height: var(--main-header-menu-button-height);
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    transition: var(--main-header-transition);

}

.main-header-menu a:hover {
    background-color: transparent;
    box-shadow: 0px 4px 10px var(--main-header-shadow-color);
    text-decoration: none;
    color: #f3f5f7;
}

.main-header .container a.logo {
    color: white;
    font-size: 30px;
    font-weight: 100;
    opacity: 0.9;
}

/* SIDE MENU */

.side-menu {
    display: flex;
    width: 1000px;
    position: absolute;
    left: -1000px;
    z-index: 10;
    height: 1000px;
    transition: var(--main-header-transition);
}

.side-menu-content {
    height: 100%;
    width: 276px;
    background: #101010;
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 70px;
    background: var(--main-header-secondary-color);
    overflow: hidden;
    transition: var(--main-header-transition);
}

.side-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-header-secondary-color);
    color: var(--main-header-quaternary-color);
    border-bottom: 1px solid var(--main-header-tertiary-color);
    width: 100%;
    height: calc(var(--main-header-menu-button-height)*2);
    transition: var(--main-header-transition);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--main-header-font-family);
}

.side-menu a:hover {
    background: var(--main-header-tertiary-color);
    text-decoration: none;
    color: #f3f5f7;
}

.side-menu-close-div {
    height: 100%;
    width: 724px;
    background: rgba(0, 0, 0, 0);
    transition: var(--main-header-transition);
}

/* SIDE BUTTON */
.main-header-side-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--main-header-menu-button-height);
    min-width: Var(--main-header-menu-button-height);
    margin: 20px;
    background: var(--main-header-secondary-color);
    border: 1px solid var(--main-header-tertiary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-header-transition);
}

.main-header-side-menu-button:hover {
    background: var(--main-header-tertiary-color);
    box-shadow: 0px 4px 10px var(--main-header-shadow-color);
}

.main-header-side-menu-button .stripes {
    background: var(--main-header-quaternary-color);
    height: 2px;
    min-width: 25px;
    margin: 2px 0;
}

/* MEDIA QUERIES MAIN HEADER */
@media (min-width: 768px) {
    .main-header-menu {
        display: flex;
    }

    .side-menu {
        display: none;
    }

    .main-header-side-menu-button {
        display: none;
    }
}


.giris-slider {
    margin-top: 65px
}

.carousel-item img {
    height: 350px;
    object-fit: cover;
}

.giris-kamplar {
    float: left;
    width: 16.666%;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.giris-kamp-card {
    height: 300px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.giris-kamp-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card-baslik {
    font-weight: 500;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    opacity: 0.9;
    font-family: sans-serif;

}



.card-img img {
    width: 100%;
    object-fit: cover;
    height: 130px;
    padding-top: 1px;

}

.card-duzenleyen {
    font-weight: 300;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    opacity: 1;
    font-family: sans-serif;
}

.card-duzenleyen-span {
    font-weight: 300;
    text-align: left;
    font-size: 14px;
    opacity: 0.9;
    font-family: sans-serif;
}


#yildiz {
    font-size: 20px;
    padding: 10px;
}


#yildiz .yildiz-genel {
    font-size: 18px;
    margin-left: 5px;

}


#yildiz i {
    color: #f4c150;
}

/*----------------------- */

#yildiz2 {
    font-size: 20px;
    padding: 10px;
}


#yildiz2 .yildiz-genel {
    font-size: 18px;
    margin-left: 5px;

}


#yildiz2 i {
    color: #f4c150;
}

/*----------------------- */
#yildiz3 {
    font-size: 20px;
    padding: 10px;
}


#yildiz3 .yildiz-genel {
    font-size: 18px;
    margin-left: 5px;

}


#yildiz3 i {
    color: #f4c150;
}

/*----------------------- */
#yildiz4 {
    font-size: 20px;
    padding: 10px;
}


#yildiz4 .yildiz-genel {
    font-size: 18px;
    margin-left: 5px;

}


#yildiz4 i {
    color: #f4c150;
}

/*----------------------- */


.detay-btn {
    margin-left: 10px;
}

.detay-btn-text {
    font-size: 14px;
}


#portfoy {
    margin-top: 100px;
    background-color: blue;
    

}

.card-card{
    float: left;
    width: 50%;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #f2f5f8;
    padding-top: 50px;
    padding-bottom: 50px;
}



.port-items{
    height: 300px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.port-items:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.port-items h1{
    margin: 10px;
    padding-left: 10px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 100;
    color: #007bff;
}

.port-items p{
    margin: 10px;
    padding-left: 10px;
    font-weight: 200;
}

.port-items i{
    margin: 10px;
    padding-left: 10px;
    font-size: 30px;
    color: #f4c150;
}


















